#caixa{
    width: 300px;
    height: 300px;
    padding: 8px;
    margin: 20px;
    background: #1ce7b5;
    box-shadow: 20px 20px 10px black;
}

#caixa h1 {
    color: white;
    font-size: 60px;
    text-shadow: 20px 20px 10px rgba(1, 1, 1, 60%);
}

/*
1º valor: Movimenta na horizontal
2º valor: Movimenta na vertical
3º valor: Blur
4º valor: Size
*/