body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

#Container {
    width: 720px;
    margin: 0 auto; /*Auto serve para centralizar*/
    background: #fff;
}

#Marca {
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}

#Conteúdo {
    width: 520px;
    float: right;
}

#Conteúdo-principal {
    width: 320px;
    float: left;
}

#Conteúdo-secundário {
    width: 180px;
    float: right;
    background: #d1d1d1;
}

#Conteúdo-secundário h1,
#Conteúdo-secundário h2,
#Conteúdo-secundário h3,
#Conteúdo-secundário p {
    padding-left: 20px;
    padding-right: 20px; /*Padding usado para espaçar texto da margin.*/
}

/*A soma do width do conteúdo principal e do secunário dá 500, sobrando 20px do width de conteúdo que servirá de espaçamento.*/

#Navegação {
    width: 180px; /*se somarmos o conteúdo e a navegação dá width de 700px, e sobram 20px que serve de espaço entre eles.*/
    float: left; /*Para a navegação ficar a esquerda*/
    padding-top: 20px;
    padding-bottom: 20px; /*Padding usado para espaçar texto da margin.*/
    background: #d1d1d1;
}

#Navegação ul {
    list-style: none;
}

#Navegação li a{
    text-decoration: none;
}

#Rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
    text-align: center;
}